natsort
requests
pandas
mako
#matplot
templates
argparse
jsons
regex
python-time
DateTime
pydantic
pytest-shutil
pytest
glob2
GitPython
pytidylib
OMPython
ebcpy>=0.4.1
numpy
#scipy
matplotlib
lib-platform
toml
#tomli_w
buildingspy>=5.1.0
requests