natsort
requests
pandas
mako
#matplot
templates
argparse
jsons
regex
python-time
DateTime
pydantic
pytest-shutil
pytest
glob2
GitPython
pytidylib
OMPython
ebcpy>=0.4.1
numpy~=1.21.6; python_version < '3.9'
numpy~=1.23.0; python_version >= '3.9'
#scipy
matplotlib~=3.9.0
lib-platform
toml
#tomli_w
buildingspy>=5.1.0
requests
PyYAML>=6.0.1